/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
.border-radius-example {
  width: 125px;
  height: 125px;
  background: red;
  margin: 20px;
  float: left;
  padding: 20px;
}

/* line 16, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
#border-radius {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* line 19, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
#three-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  width: 300px;
  margin-bottom: 20px;
}

/* line 30, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
body {
  text-align: center;
  padding: 20px 0 50px 0;
  background: #ececec;
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.85em;
  color: black;
}

/* line 40, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
.container {
  text-align: left;
  margin: 0 auto;
  width: 800px;
}

/* line 47, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
nav#topnav {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1470bb), color-stop(100%, #66b4fe));
  background-image: -webkit-linear-gradient(#1470bb, #66b4fe);
  background-image: -moz-linear-gradient(#1470bb, #66b4fe);
  background-image: -o-linear-gradient(#1470bb, #66b4fe);
  background-image: linear-gradient(#1470bb, #66b4fe);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
  border: solid 1px #0b56b9;
  overflow: hidden;
}
/* line 56, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
nav#topnav ul {
  float: left;
}
/* line 59, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
nav#topnav li {
  float: left;
  border-right: solid 1px #0b56b9;
}
/* line 62, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
nav#topnav li a {
  float: left;
  padding: 0.8em 1.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
}
/* line 69, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
nav#topnav li a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66b4fe), color-stop(100%, #3ae0f0));
  background-image: -webkit-linear-gradient(#66b4fe, #3ae0f0);
  background-image: -moz-linear-gradient(#66b4fe, #3ae0f0);
  background-image: -o-linear-gradient(#66b4fe, #3ae0f0);
  background-image: linear-gradient(#66b4fe, #3ae0f0);
  text-decoration: underline;
}

/* line 78, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
aside {
  float: right;
  width: 200px;
}

/* line 82, ../../app/assets/stylesheets/screenNoBluePrint.css.scss */
section {
  float: right;
}
