<section class='page'>
	<h1>
		<%= @titre %>
		<%#=t "pages.about_us" %>
		<%#=t :about_us, :scope => [:pages] %>
	</h1>
	<div class="section-content">
		<article>

			<h2>Fulfilling the global vehicle need!</h2>
			<p>Having been in industry since 2008, 100's of quality vehicles in stock, and multilingual staff, Car Exports UK is the one-stop solution for exporting all kinds of pre-owned vehicles from UK to all over the world to fulfill global vehicle needs in more than 50 counties.</p>

			<h2>With continuous improvements, innovation and automation for online trading, our services include:</h2>
			<ul>
				<li>
					Ready-to-use available car stock
				</li>
				<li>
					Personalized customer's account check Account information,
				</li>
				<li>
					Reserved Cars, Unreleased Cars and Released cars
				</li>
				<li>
					Exclusive facilities of inspection, repair, fix and clean vehicle before shipping
				</li>
				<li>
					Fastest and simplest shipping facility.
				</li>
			</ul>


			<h2>What's different At Car Exports UK?</h2>

			<ul>
				<li>
					Reliable company that has worldwide Setups with trusted name over a decade.
				</li>
				<li>
					Lowest prices, low mileage and highest quality used cars.
				</li>
				<li>
					Wide Stock and on request arrangement of any used car that is not available in stock.
				</li>
				<li>
					Fastest shipping with time-to-time shipment status notification.
				</li>
				<li>
					Well developed network of reliable partners in the automotive industry to ensure excellent and Reliable Supply Chain Network.
				</li>
				<li>
					Easy for first time buyers with the quickest response to your emails and Free quotations.
				</li>
			</ul>
			<div class="clear">&nbsp;</div>
		</article>
	</div>
</section>
