<script type="text/javascript" src="//cdn.dev.skype.com/uri/skype-uri.js"></script>

<section class='page'>
	<h1>
		<%= @titre %>
	</h1>
	<div class="section-content">
		<article>
			<h2>Mail</h2>
			<p><a href="mailto:carexportsuk2@gmail.com">carexportsuk2@gmail.com</a></p>

			<h2 style="margin-bottom:-10px;">Skype</h2>
			<p style="float: left;margin-top:16px;">car.exports</p>

			<p id="SkypeButton_Call_car.exports_1" style="float: left;">
				<script type="text/javascript">
				Skype.ui({
					"name": "call",
					"element": "SkypeButton_Call_car.exports_1",
					"participants": ["car.exports"],
					"imageSize": 16
				});
				</script>
			</p>
			<p id="SkypeButton_Chat_car.exports_1" style="float: left;">
				<script type="text/javascript">
				Skype.ui({
					"name": "chat",
					"element": "SkypeButton_Chat_car.exports_1",
					"participants": ["car.exports"],
					"imageSize": 16
				});
				</script>
			</p>
			<div class="clear">&nbsp;</div>
			<h2 style="margin-top: -20px;">Address</h2>
			<address>
				<p class="strong">Car & Machinery Exports UK Limited</p>
				<p>Suite H5 / H+I</p>
				<p>KG Business Center</p>
				<p>Kingsfield Way</p>
				<p>Northampton</p>
				<p>United Kingdom</p>
				<p>Telephone: 0044 1604 655 466</p>
				<p>Fax : 0044 1604 580 011</p>
			</address>
			<div class="clear">&nbsp;</div>
		</article>
	</div>
</section>
