<section class='page'>
	<h1>
		<%= @titre %>
	</h1>
	<div class="section-content">
		<article>
			<h2>Mail</h2>
			<p>carexportsuk@gmail.com</p>
			<h2>Skype</h2>
			<p></p>
			<div class="clear">&nbsp;</div>
		</article>
	</div>
</section>
