<section>
	<h1>Inventory</h1>
	<div class="section-content">
		Ceci est la page d'accueil de l'Application Exemple du
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
		<div class='border-radius-example' id='border-radius'>
			<p>
				Box with all corners rounded
			</p>
		</div>
	</div>
</section>