// This import applies a global reset to any page that imports this stylesheet.
@import "compass/reset";
//@import "blueprint/reset";

// Import all the compass/blueprint modules so that we can access their mixins.
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout/sticky-footer";
@import "blueprint";

// Config (variables)
@import "partials/base";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/horizontal_menu";

@include sticky-footer(50px, "#root", "#root-footer", "footer");

//Style
body {
	text-align: center;
	//padding: 20px 0 50px 0;
	background: {
		image: url("bg.gif"); 
		color: $bgColor;
		attachment: fixed;
		repeat: repeat-x;
	}
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.85em;
	color: black;
}

.container {
	//line-height: 1;
	//@include showgrid;
	text-align: left;
}

//footer
footer {
	height: 50px;
	ul {
		float: left;
	}
	li {
		float: left;
		a {
			float: left;
			padding: .8em 1.5em;
			text-decoration: none;
		}
	}
}

//All sections
section {
	h1 {
		@include background-image(linear-gradient($sTitleColor1, $sTitleColor2));
		@include border-top-radius(5px);
		padding: 0 8px;
		height:25px;
		line-height: 25px;
		text-transform: uppercase;
		font: {
			size: 0.9em;
			weight: bold;
		}
		color: #fff;
	}
	div.section-content {
		@include border-bottom-radius(5px);
		padding: 10px;
		background: #fff;
		border: 1px solid #ccc;
	}
}

//Business Hours section
table.tbBusinessHours {
	font-size: 0.85em;
	th, td {
		padding: 2px 2px 2px 5px;
		border-bottom: 1px solid #ccc;
	}
	th {
		background: #eee;
	}
}

