// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/horizontal_menu";

//Variables


.container {
	@include showgrid;
	line-height: 1;
}

//Right column
aside {
	float: right;
	width: 200px;
}
section {
	float: right;
}
