	<div class="copyright" >
		<p>Copyright © 2008-2013 CarExportsUk</p>
		<nav class="round">
			<ul>
				<li><%= link_to "Mobile Version", '#' %></li>
				<li><%= link_to "Sitemap", '#' %></li>
				<li><a href="Inventory RSS Feed">News</a></li>
			</ul>
		</nav>
	</div>
