	<!-- <div class="credit">Powered by <a href="#">Bo$$</a></div> -->
	<div class="copyright" >
		<p>© 2008-2013 Car Exports Uk</p>
		<!-- <p>© Cars and Machinery Exports UK Limited 2013</p> -->
	</div>
<!--
 	<ul>
		<li><%= link_to "Mobile Version", '#' %></li> -
		<li><%= link_to "Sitemap", '#' %></li> -
		<li><a href="Inventory RSS Feed">News</a></li>
	</ul> 
-->

