<div class="logo"></div>
<nav id="topnav" class="round">
	<ul>
		<li><%= link_to "Home", '/' %></li>
		<li><%= link_to "Stock", '/vehicles' %></li>
		<li><%= link_to t("pages.about_us"), '/about' %></li>
		<li><%= link_to t("pages.contact_us"), '/contact' %></li>
	</ul>
</nav>
